html, body {
  margin: 0;
}

body {
  font-size: 28px;
  font-family: 'Encode Sans Condensed', sans-serif;

  --background-color: #FF530D;

  background-color: var(--background-color, orange);
}

header {
  background-image: url('logo.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: contain;
  height: 6em;
}


section {
  margin: 2em;
  padding-bottom: 1em;
  background-color: white;

  border-radius: 2em 0 0 0;

}

section h2 {
  font-size: 1.8em;
  display: inline-block;
  margin: 0.2em;
  padding: 0 0.5em;



}

section p {
  margin-left: 1em;
  margin-right: 1em;

font-size: 1em;
}

footer {
  background-color: white;
  padding: 2em;
}

footer h2 {

}
